.foot-panel1 {
    background-color: #37475A;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    font-weight: 700;
}

.foot-panel2 {
    background-color: #222F3D;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 ul {
    margin-top: 20px;
}

.foot-panel2 ul li {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #DDDDDD;
}

.foot-panel2 p {
    font-weight: 700;
}

.foot-panel3 {
    background-color: #222F3D;
    border-top: 1px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel4 {
    background-color: #0F1111;
    color: white;
    height: 80px;
    text-align: center;
}

.pages {
    font-size: 0.7rem;
    padding-top: 25px;
}

.pages a {
    text-decoration: none;
    margin-left: 10px;
    color: white;
}

.copyright {
    font-size: 0.7rem;
    padding-top: 5px;
}

@media (max-width: 768px) {
    .foot-panel2 {
        flex-direction: column;
        height: auto;
        padding: 30px 20px;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
    .foot-panel2 ul {
        margin-top: 0;
    }
}