/* body{
min-height: 80vh;
margin: 0;
background: rgb(244, 241, 208);
} */
.container{
    display: flex;
    justify-content: center;
    padding: 120px 0;
    font-family: calibri;
    color: black;
    background: #eaeaea;
    
}

.user-icon{
    height: 60px;
    width: 60px;
    margin-left: 200px;
}

.title{
    font-size: 40px;
    font-weight: 20;
    font-family: calibri;
    text-align: center;
    text-wrap: nowrap;
}

.container .text-input{
    height: 35px;
    width: 450px;
    border: 2px solid black;
}

.container input{
    margin-bottom: 15px;
    border: none;
}

.container label{
    font-size: 18px;
    /* margin-bottom: 10px; */

}

.login-btn{
    height: 40px;
    width: 456px;
    margin-bottom: 20px;
    border: none;
    background-color: #ff6f00;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
}

.login-btn:hover{
    cursor: pointer;
}

.links{
    display: flex;
    justify-content: space-around;
}

.links p{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

@media screen and (max-width:600px) {
    .container .text-input{
        height: 35px;
        width: 300px;
    }
    .login-btn{
        height: 40px;
        width: 306px;
    }
    .user-icon{
        margin-left: 125px;
    }
    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: flex-end; */
    }
    .links p{
        padding-top: 15px;
    }
}