*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}


/* Header styling start */

.navbar{
    background-color: #0F1111;
    height: 60px;
    color: white;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 130px; 
}

.logo {
    background-image: url("../assets/Amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 130px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}



.add-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 23px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}



.nav-search{
    display: flex;
    justify-content: space-evenly;
    /* background-color: pink; */
    width: 900px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid transparent;
}

.search-select{
    background-color: #F3F3F3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #FEBD68;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #0F1111;
}

.nav-search:hover{
    border: 2px solid orange;
}



span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}



.cartIcon {
    font-size: 25px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}



.panel{
    height: 40px;
    background-color: #222F3D;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops ul li{
    display: inline;
    margin-left: 15px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* Header styling end */


/* Shop section styling start */

.hero-section{
    background-image: url("../assets/Hero-image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 85%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
    text-decoration: none;
}



.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #D9D9D9;
}

.box {
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
} 

.box:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}

.box-img img{
    height: 300px;
    width: 100%;
    /* background-size: cover; */
    margin: 1rem 0 1rem 0;
}

.box-content{
    margin: 0 1rem 0 1rem;
}

.box-content p{
    color: #007185;
    font-size: 0.85rem;
}

/* Shop section styling end */


/* Footer styling start */

/* footer{
    margin-top: 1.5rem;
} */

.foot-panel1{
    background-color: #37475A;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    font-weight: 700;
}

.foot-panel2{
    background-color: #222F3D;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 ul{
    margin-top: 20px;
}

.foot-panel2 ul li {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #DDDDDD;
}

.foot-panel2 p{
    font-weight: 700;   
}

.foot-panel3{
    background-color: #222F3D;
    border-top: 1px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel4{
    background-color: #0F1111;
    color: white;
    height: 80px;
    text-align: center;
}

.pages{
    font-size: 0.7rem;
    padding-top: 25px;
}

.pages a{
    text-decoration: none;
    margin-left: 10px;
    color: white;
}

.copyright{
    font-size: 0.7rem;
    padding-top: 5px;
}

/* Footer styling end */







.child-components{
    height: 600px;
}
.pointer{
    cursor: pointer;
}
.cart-badge {
  position: absolute;
  top: 9px;
  right: 62px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}